# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientist uses are:

Python
R
SQL
C++
Java
Php

Some of the commonly used libraries by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Sickit-learn
6. Keras



|  Data Science Tools  |
| ------------------  |
| Anaconda         |
| JupyterNotebook  |
| R Studie         |
| Spyder           |
| Zeppelin         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
 # This is a simple arithmetic expression to multiply and then add integers
 (3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60

minutes = 200
hours = minutes/60
hours

3.3333333333333335

**Objectives**

- Add Comments to code cell.
- Create Markdown
- Understand how to convert time units using Python
- Learn basic Python Syntax and expressions
- Explore markdown formatting in Jupyter Notebooks

**Author:** 

 Tapash Das